body {
    min-width: 480px;
    max-width: 800px;
}

#banner {
    height: 110px;
    background: #eaeaea;
}

#menu li {
    display: block;
    margin-top: 3px;
    margin-bottom: 3px;
}

#menu li.tags a,
#menu li.galleries a,
#menu li.account a {
    background: none;
}

#menu li.login {
    display: none;
}

img {
    width: 500px;
    height: 375px;
    align: center;
}

ul.thumbnails li {
    width: 515px;
    height: 390px;
    line-height: 200px;
}

ul.thumbnails li span.image-overlay {
    display:block;
    position: absolute;
    top: 0;
    left: 0;
    line-height: normal;
    width: 515px;
    padding: 5px;
}

ul.thumbnails li {
    background: #f3f6f7;
    border-color: #dbe2e5;

    /*CSS3 properties*/
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;

    -moz-box-shadow: 0px 0px 20px 5px #A9A9A9;
    -webkit-box-shadow: 0px 0px 20px 5px #A9A9A9;
    box-shadow: 0px 0px 20px 5px #A9A9A9;
}